@media (min-width:768px) {
  .input-sign{
    width: 50%;
  }
}
.icons{
  width:20%;
  filter:invert(1);

}

.rounded-circle{
  border:1px solid;
  border-radius:50%;
  width:110px;
  height:110px;
}

#map {

  width:100%;
  height:100%;
  border-radius:10px;
}
